<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="http://amynton.com/_layouts/css/main.css">
		</head>
		<body>
			<nav><b><font size="+2">amynton.com         </font> <a href="about" target="_self">about</a>   <a href="cv" target="_self">cv</a>   <a href="portfolio" target="_self">portfolio</a>   <a href="blog" target="_self">blog</a></b></nav>
  <br /><br /><ta>ble width="500">
    <tr><td>
	    			
			<div class="container">
			
			{{ content }}
			
			</div></tr></td></table><!-- /.container -->
			<footer>
			</footer>
		</body>
	</html>
