<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="https://amynton.com/_layouts/css/main.css">
			<meta name="robots" content="noindex">
		</head>
		<body>
			<nav><center><b><font size="+2">amy nu ton         </font>
				<br /><a href="https://amynton.com/about" target="_self">about</a>   <a href="https://amynton.com/portfolio" target="_self">portfolio</a>   <a href="https://amynton.com/blog" target="_self">blog</a></b></center></nav>
  <br /><br />
	    			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			</footer>
		</body>
	</html>
