<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="http://amynton.com/_layouts/css/main.css">
		</head>
		<body>
			<nav><b><font size="+2">amynton.com         </font> <a href="http://amynton.com/about" target="_self">about</a>   <a href="http://amynton.com/cv" target="_self">cv</a>   <a href="http://amynton.com/portfolio" target="_self">portfolio</a>   <a href="http://amynton.com/blog" target="_self">blog</a></b></nav>
  <br /><br />
	    			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			</footer>
		</body>
	</html>
